<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	cropToFit="true"
	galleryTitle="Chole - Madison"
	useThumbDots="false"
	useFullscreenExpand="false"

>
  <image imageURL="images/Chloe_Madison_001_Retouched.jpg"
	thumbURL="thumbs/Chloe_Madison_001_Retouched.jpg"
	linkURL="images/Chloe_Madison_001_Retouched.jpg"
	linkTarget="_blank"
	sourcePath="C:\Meathway\Chloe\Chloe_Madison_001_Retouched.jpg">
    <title><![CDATA[Chloe_Madison_001_Retouched]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Chloe_Madison_003_Retouched.jpg"
	thumbURL="thumbs/Chloe_Madison_003_Retouched.jpg"
	linkURL="images/Chloe_Madison_003_Retouched.jpg"
	linkTarget="_blank"
	sourcePath="C:\Meathway\Chloe\Chloe_Madison_003_Retouched.jpg">
    <title><![CDATA[Chloe_Madison_003_Retouched]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Chloe_Madison_008_Retouched.jpg"
	thumbURL="thumbs/Chloe_Madison_008_Retouched.jpg"
	linkURL="images/Chloe_Madison_008_Retouched.jpg"
	linkTarget="_blank"
	sourcePath="C:\Meathway\Chloe\Chloe_Madison_008_Retouched.jpg">
    <title><![CDATA[Chloe_Madison_008_Retouched]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Chloe_Madison_010_Retouched.jpg"
	thumbURL="thumbs/Chloe_Madison_010_Retouched.jpg"
	linkURL="images/Chloe_Madison_010_Retouched.jpg"
	linkTarget="_blank"
	sourcePath="C:\Meathway\Chloe\Chloe_Madison_010_Retouched.jpg">
    <title><![CDATA[Chloe_Madison_010_Retouched]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Chloe_Madison_017_Retouched contrasted.jpg"
	thumbURL="thumbs/Chloe_Madison_017_Retouched contrasted.jpg"
	linkURL="images/Chloe_Madison_017_Retouched contrasted.jpg"
	linkTarget="_blank"
	sourcePath="C:\Meathway\Chloe\Chloe_Madison_017_Retouched contrasted.jpg">
    <title><![CDATA[Chloe_Madison_017_Retouched contrasted]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Chloe_Madison_018_Retouched.jpg"
	thumbURL="thumbs/Chloe_Madison_018_Retouched.jpg"
	linkURL="images/Chloe_Madison_018_Retouched.jpg"
	linkTarget="_blank"
	sourcePath="C:\Meathway\Chloe\Chloe_Madison_018_Retouched.jpg">
    <title><![CDATA[Chloe_Madison_018_Retouched]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Chloe_Madison_020_Retouched.jpg"
	thumbURL="thumbs/Chloe_Madison_020_Retouched.jpg"
	linkURL="images/Chloe_Madison_020_Retouched.jpg"
	linkTarget="_blank"
	sourcePath="C:\Meathway\Chloe\Chloe_Madison_020_Retouched.jpg">
    <title><![CDATA[Chloe_Madison_020_Retouched]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Chloe_Madison_021_Retouched.jpg"
	thumbURL="thumbs/Chloe_Madison_021_Retouched.jpg"
	linkURL="images/Chloe_Madison_021_Retouched.jpg"
	linkTarget="_blank"
	sourcePath="C:\Meathway\Chloe\Chloe_Madison_021_Retouched.jpg">
    <title><![CDATA[Chloe_Madison_021_Retouched]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Chloe_Madison_023_Retouched.jpg"
	thumbURL="thumbs/Chloe_Madison_023_Retouched.jpg"
	linkURL="images/Chloe_Madison_023_Retouched.jpg"
	linkTarget="_blank"
	sourcePath="C:\Meathway\Chloe\Chloe_Madison_023_Retouched.jpg">
    <title><![CDATA[Chloe_Madison_023_Retouched]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Chloe_Madison_025_Retouched.jpg"
	thumbURL="thumbs/Chloe_Madison_025_Retouched.jpg"
	linkURL="images/Chloe_Madison_025_Retouched.jpg"
	linkTarget="_blank"
	sourcePath="C:\Meathway\Chloe\Chloe_Madison_025_Retouched.jpg">
    <title><![CDATA[Chloe_Madison_025_Retouched]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>