<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="View34"

>
  <image imageURL="images/View34_Rooftop Chrysler_2016.jpg"
	thumbURL="thumbs/View34_Rooftop Chrysler_2016.jpg"
	linkURL="images/View34_Rooftop Chrysler_2016.jpg"
	linkTarget="_blank"
	sourcePath="/Users/JI20183404/Downloads/View34_Rooftop Chrysler_2016.jpg">
    <title><![CDATA[View34 Rooftop Chrysler]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/View34_Rooftop Dining_2016 (1).jpg"
	thumbURL="thumbs/View34_Rooftop Dining_2016 (1).jpg"
	linkURL="images/View34_Rooftop Dining_2016 (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/JI20183404/Downloads/View34_Rooftop Dining_2016 (1).jpg">
    <title><![CDATA[View34 Rooftop Dining ]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/View34_2016_PAT8_CC.jpg"
	thumbURL="thumbs/View34_2016_PAT8_CC.jpg"
	linkURL="images/View34_2016_PAT8_CC.jpg"
	linkTarget="_blank"
	sourcePath="/Users/JI20183404/Downloads/View34_2016_PAT8_CC.jpg">
    <title><![CDATA[View34 Patio 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/View34_Rooftop Empire_2016.jpg"
	thumbURL="thumbs/View34_Rooftop Empire_2016.jpg"
	linkURL="images/View34_Rooftop Empire_2016.jpg"
	linkTarget="_blank"
	sourcePath="/Users/JI20183404/Downloads/View34_Rooftop Empire_2016.jpg">
    <title><![CDATA[View34 Rooftop Empire]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/View34_2016_PAT3_CC.jpg"
	thumbURL="thumbs/View34_2016_PAT3_CC.jpg"
	linkURL="images/View34_2016_PAT3_CC.jpg"
	linkTarget="_blank"
	sourcePath="/Users/JI20183404/Downloads/View34_2016_PAT3_CC.jpg">
    <title><![CDATA[View34 Patio 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/View34_Rooftop Movie Mall_2016.jpg"
	thumbURL="thumbs/View34_Rooftop Movie Mall_2016.jpg"
	linkURL="images/View34_Rooftop Movie Mall_2016.jpg"
	linkTarget="_blank"
	sourcePath="/Users/JI20183404/Downloads/View34_Rooftop Movie Mall_2016.jpg">
    <title><![CDATA[View34 Rooftop Movie Mall]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/View34_2016_PAT4_CC.jpg"
	thumbURL="thumbs/View34_2016_PAT4_CC.jpg"
	linkURL="images/View34_2016_PAT4_CC.jpg"
	linkTarget="_blank"
	sourcePath="/Users/JI20183404/Downloads/View34_2016_PAT4_CC.jpg">
    <title><![CDATA[View34 Patio 3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/View34_2016_PAT5_CC.jpg"
	thumbURL="thumbs/View34_2016_PAT5_CC.jpg"
	linkURL="images/View34_2016_PAT5_CC.jpg"
	linkTarget="_blank"
	sourcePath="/Users/JI20183404/Downloads/View34_2016_PAT5_CC.jpg">
    <title><![CDATA[View34 Patio 4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/View34_2016_LOUNGE1_CC.jpg"
	thumbURL="thumbs/View34_2016_LOUNGE1_CC.jpg"
	linkURL="images/View34_2016_LOUNGE1_CC.jpg"
	linkTarget="_blank"
	sourcePath="/Users/JI20183404/Downloads/View34_2016_LOUNGE1_CC.jpg">
    <title><![CDATA[View34 Lounge 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/View34_2016_AERIAL17_CTC.jpg"
	thumbURL="thumbs/View34_2016_AERIAL17_CTC.jpg"
	linkURL="images/View34_2016_AERIAL17_CTC.jpg"
	linkTarget="_blank"
	sourcePath="/Users/JI20183404/Downloads/View34_2016_AERIAL17_CTC.jpg">
    <title><![CDATA[View34 Aerial]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>