<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	importTitle="NONE"
	galleryTitle="Soho Retail Store"

>
  <image imageURL="images/nike9.jpg"
	thumbURL="thumbs/nike9.jpg"
	linkURL="images/nike9.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\raffertyji\Documents\NetBeansProjects\MeathwayOldImages\Nike\nike9.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nike10.jpg"
	thumbURL="thumbs/nike10.jpg"
	linkURL="images/nike10.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\raffertyji\Documents\NetBeansProjects\MeathwayOldImages\Nike\nike10.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nike1.jpg"
	thumbURL="thumbs/nike1.jpg"
	linkURL="images/nike1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\raffertyji\Documents\NetBeansProjects\MeathwayOldImages\Nike\nike1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nike2.jpg"
	thumbURL="thumbs/nike2.jpg"
	linkURL="images/nike2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\raffertyji\Documents\NetBeansProjects\MeathwayOldImages\Nike\nike2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nike3.jpg"
	thumbURL="thumbs/nike3.jpg"
	linkURL="images/nike3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\raffertyji\Documents\NetBeansProjects\MeathwayOldImages\Nike\nike3.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nike4.jpg"
	thumbURL="thumbs/nike4.jpg"
	linkURL="images/nike4.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\raffertyji\Documents\NetBeansProjects\MeathwayOldImages\Nike\nike4.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nike5.jpg"
	thumbURL="thumbs/nike5.jpg"
	linkURL="images/nike5.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\raffertyji\Documents\NetBeansProjects\MeathwayOldImages\Nike\nike5.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nike6.jpg"
	thumbURL="thumbs/nike6.jpg"
	linkURL="images/nike6.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\raffertyji\Documents\NetBeansProjects\MeathwayOldImages\Nike\nike6.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nike7.jpg"
	thumbURL="thumbs/nike7.jpg"
	linkURL="images/nike7.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\raffertyji\Documents\NetBeansProjects\MeathwayOldImages\Nike\nike7.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nike8.jpg"
	thumbURL="thumbs/nike8.jpg"
	linkURL="images/nike8.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\raffertyji\Documents\NetBeansProjects\MeathwayOldImages\Nike\nike8.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>